/* About Us / Contact Us Page Styles */

/* Contact Section List Styles */
.contact-info ul {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}
