<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/chatbot.css">
    <link rel="icon" href="/static/images/ChatBot Central.png" type="image/x-icon" style="border-radius: 50%;">
    <title>ChronoChat - ChatBot Central</title>
</head>
<body class="chatbot-page">
    <header>
        <table class ="header-table">
            <tr>
                <td class ="logo-cell"><img class="header-logo" src="/static/images/ChatBot Central.png" alt="ChatBot Central Logo"></td>
                <td><h1>ChatBot Central</h1></td>
                <td>
                    <ul class="nav-list">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#">ChatBots</a>
                            <ul class="dropdown-content">
                                <li><a href="/chat/chronochat">ChronoChat</a></li>
                                <li><a href="/chat/wildmind">WildMind</a></li>
                                <li><a href="/chat/fixitfrenzy">FixIt Frenzy</a></li>
                                <li><a href="/chat/gameplanlive">GamePlan Live</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">About Us / Contact Us</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </table>
    </header>
    <main>
<h1>ChronoChat</h1>
<section class="chatbot-chat">
  <table class="chatbot-chat-table">
    <tr><td><p></p></td></tr>
  </table>
  <table>
    <tr>
      <textarea class="chatbot-message" id="message" name="message" placeholder="Enter your message"></textarea>
      <button id="send-button" type="button">Send</button>
    </tr>
  </table>
</section>
<script src="/static/chatbotscript.js" defer></script>
    </main>
    <footer>
        <p>&copy; 2025 ChatBot Central</p>
    </footer>
</body>
</html>
